@font-face {
    font-family: 'SpaceGrotesk';
    src: url('https://stuw-u.github.io/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 1 999;
}

/*@font-face {
    font-family: 'SpaceGrotesk';
    src: url('https://stuw-u.github.io/fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('https://stuw-u.github.io/fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
}*/

body {
    background: rgb(0,0,0);
    margin: 0;
    padding: 0;
    font-family: 'SpaceGrotesk', sans-serif;
    color: azure;
}

h1 { font-weight: bold; }

.top-bar {
    backdrop-filter: blur(20px) brightness(0.5);
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    box-sizing: border-box;
}

.top-bar img { height: 60px; margin-right: 10px; }

#content-wrap {
    padding: 120px 20px 20px;
}
.content {
    max-width: 800px; 
    margin: 0 auto; 
    background: url("assets/background.png");
    background-size: contain;
    background-repeat: repeat-y;
}

.nav-btn {
    filter: grayscale(0%);
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
}

.nav-btn:hover { filter: grayscale(100%); }

.nav-btn:active {
    filter: grayscale(100%) brightness(4) drop-shadow(0px 0px 4px #ff1f1f);
    transition: filter 0s;
}

.title { font-size: 100px; margin-block-start: 10px; margin-block-end: 10px; line-height: 90%; }

.content-box-1 { font-size: 30px; width: 60%; margin: 60px 0 0 auto; }
.content-box-2 { font-size: 30px; width: 60%; margin: 60px auto 0 0; }
.content-box-1 p {margin-block-start: 0.5em; margin-block-end: 0.5em;}
.content-box-2 p {margin-block-start: 0.5em; margin-block-end: 0.5em;}

.content-tags { width: 100%; margin: 60px 0 0 0; }
.content-tags p {margin-block-start: 0.5em; margin-block-end: 0.5em;}

.tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    background: red;
    border-radius: 100px;
    padding: 2px 10px;
    color: black;
    font-weight: bold;
    margin: 0;
}

.tags p {margin-block-start: 0; margin-block-end: 0; margin: 0;}

.content-resume {
    width: 100%; 
    margin: 100px 0;
    padding: 60px 0;
    border-radius: 20px;
    background:#050505;
    background: radial-gradient(200px 200px at 50% 50%, #111, #050505);
    outline-style: dashed;
    outline-width: thin;
    outline-color: #222;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
    cursor: pointer;
    backdrop-filter: blur(5px) brightness(0.75);
}

.content-resume > h2, .content-resume > img {
    user-select: none;
    pointer-events: none;
}

.download-btn {height: 40px;}

.content-resume:active {
    outline-width: thick;
    outline-style: solid;
    box-sizing: border-box;
}

.footer-icons {
    display: flex; height: 50px; gap: 20px;
}

.footer-icons img {
    height: 100%;
}

.tag {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 1s all ease;
}

.tag.active{
    transform: translateY(0);
    opacity: 1;
}